* {
    box-sizing: border-box;
}
.parent {
    width: 1200px;
    height: 600px;
    margin: 10px auto;
}

.box-animate {
    position: relative;
    width: 100px;
    height: 100px;
    top: calc(50% - 50px);
    margin-left: auto;
    margin-right: auto;
    transform-style: preserve-3d;
    animation-name: box;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 24px;
    color: white;
    text-align: center;
    transform-style: preserve-3d;
}

.front::before, .back::before {
    position: absolute;
    content: '';
    background-color: inherit;
    width: inherit;
    height: inherit;
    transform: translateZ(-1px);
    top: 0;
    left: 0;
}
.front {
    background: blue;
    animation-name: moveFront;
}

.back {
    background: red;
    animation-name: moveBack;
}

.animate {
    animation-duration: 15s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}
.hidden {
    backface-visibility: hidden;
}
@keyframes box {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);

    }
}

@keyframes moveFront {
    from {
        transform: rotateZ(0deg) translateZ(25px);
    }
    to {
        transform: rotateZ(360deg) translateZ(25px)}
}

@keyframes moveBack {
    from {
        transform: rotateZ(360deg) rotateY(180deg) translateZ(25px);

    }
    to {
        transform: rotateZ(0deg) rotateY(180deg) translateZ(25px);
    }
}